* {
  box-sizing: border-box;
  margin: 0;

  line-height: 140%;
}

body {
  background-color: rgb(255, 255, 255);
  color: #742424;
  font-family: 'Lora', serif;
}

.slide .selected.legend {
  padding: 20px;
}

.carousel ul {
  bottom: 20px;
}

.carousel .slide .slLegend {
  font-size: large;
  width: 30%;
  left: 80%;

  @media screen and (max-width: 900px) {
    width: 90%;
    left: 50%;
  }
}
